
.destinations {

  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: auto;
  grid-gap:20px 17px;
  padding-top:48px;
  box-sizing: border-box;
  justify-content:center;
}
.destinations_alignmnent_centered {
  margin-right: auto;
  margin-left: auto;
}
.destinations__card {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:black;
  border-radius: 10px;
  box-sizing:border-box;
  height: 361px;
  width: 282px;
  display:flex;
  flex-direction:column;
  background-size:cover;
  background-repeat:no-repeat;
}

.destinations__card-image{
  margin: 0;
  width: 282px;
  height: 282px;
  object-fit: cover;
  width:100%;
}

.destinations__card-caption {
  margin: 0;
  background-color: #ffffff;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  justify-content:space-between;
  align-items: center;
}

.destinations__caption-text {
  font-family: "Inter-Black", impact, "Arial, Narrow Bold", sans-serif;
  font-size: 24px;
  margin: 0;
  overflow: hidden;
  text-overflow:ellipsis;
  text-wrap: nowrap;
}
.destinations__caption-icon{
  background:transparent url("../images/like-button.svg") center no-repeat;
  width:21px;
  height:18px;
  border:0;
}
  .destinations__caption-icon:hover {
    opacity: 0.5;
    cursor:pointer;
  }
  @media screen and (max-width: 590px) {
    .destinations{
      padding-top:36px;
    }
  }