.footer {
  padding-top:67px;
  font-style: "Inter", Arial, Helvetica, sans-serif;
  color: #545454;
  font-size: 18px;
}

.footer__copyright{
  margin:0 auto;
}
@media screen and (max-width: 590px) {
  .footer{
    font-size:14px;
  }
}