.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
}
.page__title_font_inter-medium {
  font-family: Inter-Medium, "Franklin Gothic Medium", sans-serif;
}
.page__title_font_inter-black {
  font-family: Inter-Black, "Arial Narrow Bold", Impact;
}
