.page {
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #000000;
  color:white;
}

.page__content{
  display:flex;
  flex-direction:column;

  min-height:100vh;
}

.page__section{
  max-width:880px;
  width:100%;
  position:relative;

  margin:0 auto;
}
/*
.page_alignment_centered {
  margin-left: auto;
  margin-right: auto;
}
*/