.profile {
  display: flex;
  align-items: center;

  padding-top: 40px;
}
.profile__avatar_container {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
  /*
  display: flex;
  flex-basis: 120px;
  */
  display: flex;
  overflow: hidden;
}

.profile__avatar_container:hover .editImageLayer {
  visibility: visible;
}

.profile__image {
  position: absolute;
  z-index: 0;
  width: 120px;
  height: 120px;
}

.editImageLayer {
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  height: 120px;

  transition: all 0.5s ease;
  visibility: hidden;
  position: absolute;
  z-index: 2;
}

.profile__editImageIcon {
  position: relative;
  left: 40%;
  top: 40%;
  width: 26px;
  height: 26px;
}
.profile__editImageIcon:hover {
  cursor: pointer;
}
.profile__profile-details {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-areas: "name button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px;
  color: #ffffff;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
}
.profile__name {
  margin: 0;
  padding-right: 10px;
  font-size: 42px;
  font-family: "Inter-Medium", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 48px;
  grid-area: name;
  text-wrap: nowrap;
  min-width: 375px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__edit {
  padding: 0;

  background: transparent url("../images/edit.svg") center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: #ffffff 1px solid;
}
.profile__edit:hover {
  opacity: 60%;
  cursor: pointer;
}
.profile__subtitle {
  margin: 0;
  font-size: 18px;
  line-height: normal;
  grid-area: description;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 415px;
}
.profile__button {
  padding: 0;

  margin: 0;
  margin-left: auto;
  height: 50px;
  width: 150px;
  background: transparent url("../images/profile-button.svg") center no-repeat;
  grid-area: button;
  border: #ffffff 1px solid;
}
.profile__button:hover {
  opacity: 60%;
  cursor: pointer;
}
@media screen and (max-width: 762px) {
  .profile__name {
    font-size: 32px;
  }
  .profile__subtitle {
    font-size: 14px;
  }
  .profile__button {
    width: 50px;
  }
}
@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
  }
  .profile__profile {
    flex-direction: column;
  }
  .profile__button {
    margin: 0;
    width: 282px;
  }
}

@media screen and (max-width: 590px) {
  .profile {
    padding-top: 38.25px;
  }
  .profile__image {
    margin: 0;
  }
  .profile__profile-details {
    grid-template-columns: minmax(auto, 212px) auto;

    padding-top: 26.25px;
    padding-bottom: 36px;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .profile__name {
    font-size: 22px;
    line-height: normal;
    text-align: center;
    padding: 0;

    margin-left: 15px;
    min-width: 100px;
  }

  .profile__edit {
    height: 18px;
    width: 18px;
  }
  .profile__subtitle {
    max-width: 282px;
    text-align: center;
  }
}
